<h3><%= @car.model %></h3>

<ol>
  <li>Manufacturer: <%= @manufacturer.name %></li>
  <li>Color: <%= @car.color %></li>
  <li>Year: <%= @car.year %></li>
  <li>Milage: <%= @car.milage %></li>
  <li>Description: <%= @car.description %></li>

</ol>
